<strong>Hi, {{ provider }}</strong>
<p>One of your appointments has been canceled, please check the details below:</p>
<p>
  <strong>Customer: </strong> {{ user }} <br />
  <strong>Date: </strong> {{ date }} <br />
  <br />
  <small>
    The time has became available again for new appointments.
  </small>
</p>
